@*@model List<WebApplication1.Models.Employee>

<div class="container mt-3">
    <h2>Employee Details</h2>

    @if (Model != null && Model.Any())
    {
        foreach (var employee in Model)
        {

           <div>
                <h3><strong>Employee ID:</strong> @Model.Emp_Id</h3>
                <p><strong>Name:</strong> @Model.Emp_Name</p>
                <p><strong>Address:</strong> @Model.Emp_Adress</p>
                <p><strong>Mobile Number:</strong> @Model.mobno</p>
                <p><strong>Salary:</strong> @Model.Sallary</p>
                <p><strong>Age:</strong> @Model.age</p>
            
            </div>
        }
    }
    else
    {
        <p>No employee found with the provided name.</p>
    }
</div>
*@

@model List<WebApplication1.Models.Employee>

<div class="container mt-3">
    <h2>Employee Details</h2>

    @if (Model != null && Model.Any())
    {
        foreach (var employee in Model)
        {
            <div>
                <h3><strong>Employee ID:</strong> @employee.Emp_Id</h3>
                <p><strong>Name:</strong> @employee.Emp_Name</p>
                <p><strong>Address:</strong> @employee.Emp_Adress</p>
                <p><strong>Mobile Number:</strong> @employee.mobno</p>
                <p><strong>Salary:</strong> @employee.Sallary</p>
                <p><strong>Age:</strong> @employee.age</p>
                @*  <p><strong>Department:</strong> @employee.department.Department_Name</p>
        <p><strong>State:</strong> @employee.State.StateName</p>
        <p><strong>City:</strong> @employee.City.CityName</p>*@
            </div>
        }
    }
    else
    {
        <p>No employees found with the provided city name.</p>
    }
</div>